<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stringtinyst.healthlife.mapper.BodyMapper">
    <select id="list" resultType="com.stringtinyst.healthlife.pojo.Body">
        select *
        from bodymetrics
        <!--where标签可以自动判断是否生成where子句,自动去除条件前面多余的and和or-->
        <where>
            UserID = #{userID}
            <if test="begin != null and end != null" >
                and RecordDate between #{begin} and #{end}
            </if>
        </where>
        order by RecordDate
    </select>

</mapper>